body {
    background-color: aquamarine;
    overflow: hidden;
}

.seperator {
    background-color: aquamarine;
    height: 8vh;
}

.form_move {
    display: flex;
    flex-direction: column;
    width: 50%
}

#launch_button {
    width: 50%
}


section {
    display: flex;
    background-color: white;
    position: absolute;
    height: 85vh;
    width: 100vw;
}

.left_side {
    background-color: gray;
    position: absolute;
    width: 15vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
 

.ball_div {
    background-color: coral;
    position: absolute;
    left: 15vw;
    width: 85vw;
    height: 100%;
}

.ball {
    --x: 2;
    --y: 38;

    background-color:forestgreen;
    position: absolute;
    left: calc(var(--x) * 1vw);
    top: calc(var(--y) * 1vh);
    border-radius: 50%;
    width: 8vh;
    height: 8vh;
}

.goalpost {
    --location: 50;

    position: absolute;
    background-color: blue;
    top: calc(var(--location)*1vh);
    width: 3vw;
    height: 20vh;
    right: 15vw;
}