* {
    font-family: 'Audiowide', cursive;
    padding: 0;
    margin: 0;
}

button {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px gold;
}

h1 {
    padding: 3px;
}


body {
    background-color: gray;
    overflow: hidden;
}


.top_section {
    display: flex;
    background-color: gray;
    height: 20vh;
    width: 100vw;
    
}

.score {
    background-color: gray;
    text-align: center;
    width: 15vw;
    left: 0%;
    height: 100%
}

.headerr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100%;
}


.fifty_width {
    width: 75%;
    padding: 4px;
}


.bottom_section {
    display: flex;
    background-color: white;
    position: absolute;
    height: 77vh;
    width: 100vw;
}

.left_side {
    background-color: gray;
    position: absolute;
    width: 15vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
 

.ball_div {
    background-color: coral;
    border: solid 3px black;
    position: absolute;
    left: 15vw;
    width: 85vw;
    height: 100%;
}

.ball {
    --x: 1;
    --y: 32;

    background-color:forestgreen;
    border: solid 3px black;
    position: absolute;
    left: calc(var(--x) * 1vw);
    top: calc(var(--y) * 1vh);
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
}

.goalkeeper {
    --location: 50;

    position: absolute;
    background-color:darkcyan;
    border: solid 3px black;
    top: calc(var(--location)*1vh);
    width: 1.5vw;
    height: 20vh;
    right: 13vw;
}

.goalpost {
    --location: 0;

    position: absolute;
    background-color:chocolate;
    border: solid 3px black;
    top: calc(var(--location)*1%);
    width: 1.5vw;
    height: 20%;
    right: 0.5vw;
}

.left_side_flex {
    display: flex;
    justify-content: space-between;
}

.top_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset_btn {
    width: 5vw;
    height: 4vh;
    margin-left: 4vw;
}

.adjust {
    width: 2vw
}